*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #302b2b;
    color: rgb(136, 126, 126);
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 26%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 34px;
    font-size: 30px;
}

.turbo-imagem{
    width: 45%;
}

.Time{
    background-image: linear-gradient(#3a3535,rgb(70, 64, 63));
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.Time-div-conteudo{
    width: 30%;
}

.loja-link {
    width: 70px;
}

.Time-titulo{
    padding: 9%;
}

.Jogadores-titulo{background-color: #3a3535;}

.Jogadores-todos{ 
    background-color: #3a3535;
}

.sites-imagem{
    width: 35px;
}

.site-icone{
    width: 35px;
}

.Jogadores-div{
    text-align: center;
}

.Jogadores-titulo{
    text-align: center;
    padding: 35px 0;
}

.Jogadores-todos{
   
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: rgb(209, 201, 201);
    text-align: center;
}

.rodape-imagem{
    height: 35px;
    padding: 12px 0;
    
}